PROXMOX_ENDPOINT = "https://192.168.3.67:8006"
PROXMOX_NODE = "pve"
PROXMOX_USER = "terraform"
PROXMOX_API_TOKEN_ID = "some_token"
PROXMOX_API_TOKEN_SECRET = "some_secret"
PROXMOX_PRIVATE_KEY_PATH = "~/.ssh/proxmox"

MINIO_USER = "admin"
MINIO_BUCKETS = ["terraform"]
